body {
    background-color: wheat;
}
canvas {
    border: 1 solid black;
}

#canvas-box {
    display: flex;
    justify-content: center;
    align-content: center;
}

.control-box {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.ui-box {
    align-self: center;
}